#assets.cs-section
  %h2.page-header Assets
  %p Click to download yoomee logo in various formats/colours:
  =link_to ('https://docs.google.com/a/yoomee.com/file/d/0B5tlIGRhCawmU3dTbU4taVVLYkE/preview') do
    =image_tag ('yoomee-logos.jpg')      
  %h3 Fonts
  %ul
    %li 
      =link_to 'http://www.fonts.com/', 'http://www.fonts.com/'
    %li
      =link_to 'https://www.google.com/fonts', 'https://www.google.com/fonts'