#browser-support.cs-section
  %h2.page-header Browser support
  .row
    .col-md-6
      =image_tag('browser-support.jpg')
  %ul
    %li We support IE8 and higher, Google chrome and Mozilla firefox.
    %li
      =link_to 'Respond.js', 'https://github.com/scottjehl/Respond'
      is a lightweight polyfil we use to support media queries in ie 8
    %li Because we work on Apple machines, We user virtualbox to debug in IE8.

