#code-standards.cs-section
	%h2.page-header Code standards
	%ul
		%li Copy stuff from Google doc
		%li Inception rule (3 levels), but you can break it.
		%li sassmeister
		%li code pen
		%li Try not to use !importants
		%li sass files naming convention
