#css-helper-classes.cs-section
  %h2.page-header CSS helper classes
  %ul
    %li Margins
    %li Paddings
    %li Text formatting
    %li Positioning

  %h3 Margins
  %p Margin helper classes allow you to specifiy a; top, right, left, bottom, vertical, horizontal and/or all round margin for an element.
  =code 'css' do
    :plain    
      /* You can use numbers 0-10 for a range of margin sizes */
      
      .m-0 { margin: 0px; }
      .mt-0 { margin-top: 0px; }
      .mb-0 { margin-bottom: 0px; }
      .ml-0 { margin-left: 0px; }
      .mr-0 { margin-right: 0px; }
      .mv-0 {
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .mh-0 {
        margin-left: 0px;
        margin-right: 0px;
      }
  
  %h3 Padding
  %p Padding helper classes allow you to specifiy a; top, right, left, bottom, vertical, horizontal and/or all round padding for an element.
  =code 'css' do
    :plain
      /* You can use numbers 0-10 for a range of padding sizes */
      
      .p-0 { padding: 0px; }
      .pt-0 { padding-top: 0px; }
      .pb-0 { padding-bottom: 0px; }
      .pl-0 { padding-left: 0px; }
      .pr-0 { padding-right: 0px; }
      .pv-0 {
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .ph-0 {
        padding-left: 0px;
        padding-right: 0px;
      }
  
  %h3 Text formatting
  %p Text formatting
  =code 'css' do
    :plain
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
      }
      .center {
        text-align: center;
      }
  
  %h3 Positioning
  %p 
    You can attach the
    %code .relative
    class to a parent element when you wish to absolutely position child elements inside it.
  =code 'css' do
    :plain    
      .relative {
        position: relative;
      }