#css-helper-classes.cs-section
  %h2.page-header CSS helper classes
  %ul
    %li Margins
    %li Paddings
    %li Text formatting
    %li Positioning

.row
  .col-md-6
    %p
      Margins

.row
  .col-md-6
    %pre
      %code
        :preserve
          /* Use numbers 0-10 */
          
          .m-0
          .mt-0
          .mb-0
          .ml-0
          .mr-0
          .mv-0
          .mh-0
          
          /* This applies these CSS rules */
          
          .m-0 {
            margin: 0px;
          }
          .mt-0 {
            margin-top: 0px;
          }
          .mb-0 {
            margin-bottom: 0px;
          }
          .ml-0 {
            margin-left: 0px;
          }
          .mr-0 {
            margin-right: 0px;
          }
          .mv-0 {
            margin-top: 0px;
            margin-bottom: 0px;
          }
          .mh-0 {
            margin-left: 0px;
            margin-right: 0px;
          }

.row
  .col-md-6
    %p
      All over padding

.row
  .col-md-6
    %pre
      %code
        :preserve
          /* Use numbers 0-10 */
          
          .p-0
          .pt-0
          .pb-0
          .pl-0
          .pr-0
          .pv-0
          .ph-0
          
          /* This applies these CSS rules */
          
          .p-0 {
            padding: 0px;
          }
          .pt-0 {
            padding-top: 0px;
          }
          .pb-0 {
            padding-bottom: 0px;
          }
          .pl-0 {
            padding-left: 0px;
          }
          .pr-0 {
            padding-right: 0px;
          }
          .pv-0 {
            padding-top: 0px;
            padding-bottom: 0px;
          }
          .ph-0 {
            padding-left: 0px;
            padding-right: 0px;
          }

.row
  .col-md-6
    %p
      Text formatting

.row
  .col-md-6
    %pre
      %code
        :preserve
          .left
          .right
          .center
          
          /* This applies these CSS rules */
          
          .left {
            text-align: left;
          }
          .right {
            text-align: right;
          }
          .center {
            text-align: center;
          }

.row
  .col-md-6
    %p
      Positioning

.row
  .col-md-6
    %pre
      %code
        :preserve
          .relative
          
          /* This applies these CSS rules */
          
          .relative {
            position: relative;
          }