#javascript.cs-section
  %h2.page-header Javascript
  %p 
    You can convert JavaScript to CoffeeScript using the
    =link_to 'JS2Coffee converter',  'http://js2coffee.org/'
    Below are some typical javascript patterns used across yoomee sites:
  %ul
    %li Add class/remove class
    %li Sticky headers
    %li Fitvids
    %li Scroll to id?
    %li Parallax/scrollarama