#javascript.cs-section
  %h2.page-header Javascript
  %p 
    You can convert JavaScript to CoffeeScript using the
    =link_to 'JS2Coffee converter.',  'http://js2coffee.org/'
    Below are some typical javascript patterns used across yoomee sites:
    
    %h3 Add and remove classes
    =code do
      :plain
        $(".container").addClass "new-class"
        $(".container").removeClass "new-class"

    %h3 Sticky headers
    =code do
      :plain
        /* Sticky headers */

    %h3 Scroll to ID
    =code do
      :plain
        /* Use relavent Id to scroll to */

        jQuery(document).ready(function(e) {
          e(".cs-contents a").click(function(t) {
            t.preventDefault();
            e("html,body").animate({
              scrollTop: e(this.hash).offset().top
            });
          });
      });

    %h3 Responsive Videos
    %p.pb-1
      For fluid width videos we use
      =link_to 'Fitvids', 'http://fitvidsjs.com/'
      , any video on a page will have fitvids.js applied to it.
    %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/NfPndEB2ec0?rel=0", width: "560"}

    %h3 Other
    %p Other Javascript plugins and resources we use
    %ul 
      %li 
        For super scrolling animations and parallax effects you can use: 
        =link_to  'Scrollarama', 'http://johnpolacek.github.io/scrollorama/'