#layout-examples.cs-section
  %h2.page-header Layout examples
  %p Here are a few basic layouts, using styles found in ym_core
  .row
    .col-md-4
      .well
        =link_to "Basic page", "#", :class => ""
    .col-md-4
      .well
        =link_to "Page list", "#", :class => ""
    .col-md-4
      .well
        =link_to "Tiles", "#", :class => ""
    .col-md-4
      .well
        =link_to "Blog post", "#", :class => ""      
    .col-md-4
      .well
        =link_to "Search page", "#", :class => ""       
    .col-md-4
      .well
        =link_to "Home page with carousel", "#", :class => ""
    .col-md-4
      .well
        =link_to "One page love", "#", :class => ""                              

