#layout-examples.cs-section
  %h2.page-header Layout examples
  %p Here are a few basic layouts, using styles found in ym_core
  .row.mt-2
    .col-md-3
      =link_to "/layout-basic", :class => "layout-example" do
        =image_tag ("layout-basic.png")
        Basic page
    .col-md-3
      =link_to "/layout-list", :class => "layout-example" do
        =image_tag ("layout-list.png")
        List
    .col-md-3
      =link_to "/layout-tiles", :class => "layout-example" do
        =image_tag ("layout-tiles.png")
        Tiles
    .col-md-3
      =link_to "/layout-blog-post", :class => "layout-example" do
        =image_tag ("layout-blog-post.png")
        Blog post
    .col-md-3
      =link_to "/layout-search", :class => "layout-example" do
        =image_tag ("layout-search.png")
        Search       
    .col-md-3
      =link_to "/layout-carousel", :class => "layout-example" do
        =image_tag ("layout-carousel.png")
        Carousel
    .col-md-3
      =link_to "/layout-one-page", :class => "layout-example" do
        =image_tag ("layout-one-page.png")
        One page