#layout-examples.cs-section
  %h2.page-header Layout examples
  %p Here are a few basic layouts, using styles found in ym_core
  .row
    .col-md-4
      .well
        =link_to "Basic page", "/layout-basic", :class => ""
    .col-md-4
      .well
        =link_to "Page list", "/layout-list", :class => ""
    .col-md-4
      .well
        =link_to "Tiles", "/layout-tiles", :class => ""
    .col-md-4
      .well
        =link_to "Blog post", "/layout-blog-post", :class => ""      
    .col-md-4
      .well
        =link_to "Search page", "/layout-search", :class => ""       
    .col-md-4
      .well
        =link_to "Home page with carousel", "layout-carousel", :class => ""
    .col-md-4
      .well
        =link_to "One page love", "/layout-one-page", :class => ""                     

