#responsive.cs-section
  %h2.page-header Responsive
  %p We use the following responsive breakpoints to make our sites responsive:

  -# Responsive break points grid

  %table.table.table-striped.t-responsive
    %thead
      %tr
        %td Variable name
        %td Width
        %td Break point
    %tbody
      %tr
        %td.xs xs
        %td.xs min-width 
        %td.xs 450px
      %tr
        %td.xs-max xs-max
        %td.xs-max max-width
        %td.xs-max 768px
      %tr
        %td.sm sm
        %td.sm min-width 
        %td.sm 769px
      %tr
        %td.sm-max sm-max
        %td.sm-max max-width
        %td.sm-max 992px
      %tr
        %td.md md
        %td.md min-width 
        %td.md 993px
      %tr
        %td.md-max md-max
        %td.md-max max-width
        %td.md-max 1999px
      %tr
        %td.lg lg
        %td.lg min-width 
        %td.lg 1200px
      %tr
        %td.xl xl
        %td.xl min-width 
        %td.xl 1400px
      %tr
        %td.xxl xxl
        %td.xxl min-width 
        %td.xxl 1700px
  .row
    .col-md-12
      %p We write our media queries inline to ensure maximum code readability. The code block below illustrates how this can be done:
      =code 'css' do
        :plain
          .container {
            padding: 10px 60px 10px; 
            background:#E2566D;
            @include media-query (xs-max){
              padding:10px;
              background:#CD4D66;
          }
