#useful-sites.cs-section
  %h2.page-header Useful sites
  %ul
    %li 
      =link_to 'TinyPNG', 'https://tinypng.com/photoshop'
    %li 
      =link_to 'Superscrollorama', 'http://johnpolacek.github.io/superscrollorama/'
    %li 
      =link_to 'Just add water CSS animations' ,'http://daneden.github.io/animate.css/'