#variables.cs-section
  %h2.page-header Variables
  %h3 Yoomee base brand colours
  %table.table.table-striped.t-variable
    %thead
      %tr 
        %td Variable name
        %td Colour
    %tbody
      %tr
        %td.red $ym-red
        %td #e1566c
      %tr
        %td.orange $ym-orange
        %td #fbaa26
      %tr
        %td.purple $ym-purple
        %td #9a258f
      %tr
        %td.green $ym-green
        %td #00aca1
      %tr
        %td.lime $ym-lime
        %td #94c947
      %tr
        %td.light-blue $ym-light-blue
        %td #00b0db
      %tr
        %td.dark-blue $ym-dark-blue
        %td #53616f
  %h3 Base colours
  %table.table.table-striped.t-variable
    %thead
      %tr 
        %td Variable name
        %td Colour
    %tbody
      %tr
        %td.dark-grey $ym-dark-grey
        %td #656565
      %tr
        %td.light-grey $ym-light-grey
        %td #9e9e9e
      %tr
        %td.white $ym-white
        %td #ffffff