body{
	color:#70797f;
}
a {
	color: #E2566D;
	&:hover {
		color: #CD4D66;
	}
}
.cs-logo {
	max-width: 200px;
	margin: 30px auto 0 auto;
	display: block;
}
.cs-contents {
	padding: 40px 0;
	background: #f5f5f5;
	margin: 40px 0;
	font-size: 19px;
	font-weight: 200;
	ul {
		padding-left: 0px;
		list-style: none;
	}
}
.centralise{
		float:none;
		margin:0 auto;
		display:block;
	}
.cs-section {
	padding: 40px 0;
	li{
		clear:both;
		margin:10px 0;
	}
}
#code-standards.cs-section{
	padding: 0;
}