
/* Blog post stuff  */

.blog-hero-holder{
  padding-top:600px;
  .blog-hero-text {
    bottom: 60px;
    position: absolute;
    width: 91%;
  }
} 
#blog-post{
  font-size: 1.3em;
  line-height: 1.5em;
  img{
    margin:60px auto;
  }
  a{
    border-bottom: 1px dashed;
    &:hover{
      text-decoration:none;
      color:#333;
    }
  }
}
.strip-hero{
    background: url('http://placehold.it/1400x600') no-repeat center top;
}

/* Custom tiles style */

.tile-link{
  width:100%;
  text-decoration: none;
  color:#70797F;
  &:hover {
    color:#5C6368;
    text-decoration: none;
  }
  &:hover .tile-block.color{
    background:#f2f2f2;
  }
  .tile-block.color{
    background-color: #f6f6f6;
  }
  img{
    width:100%;
  }
}


/*   Custom one page style  */

#one-page{
  section{
    position:relative;
    width:100%;
    color:#fff;
    text-align:center;
    p{
      font-size: 1.3em;
    }
  }
  .section1{
    background:$ym-red;
    span{
      display: block;
    }
  }
  .section2{
    background: #E59CA7;
    height:1200px;
  }
}



/*   Custom carousel style */

.item{
  height:500px;
}
.item-1{
  background:url('/assets/carousel-bg1.png') no-repeat;
}
.item-2{
  background:url('/assets/carousel-bg2.png') no-repeat;
}
.item-3{
  background:url('/assets/carousel-bg3.png') no-repeat;
}
.carousel-control.left,
.carousel-control.right{
  background: transparent;
}
.item-img{
  text-align: center;
  padding:60px 0 10px;
}
.caption{
  text-align: center;
  color:#fff;
}

/*   Lists  */

#ym_list{
  ul{
    list-style: none;
  }
}
