%h1 Hello

.container
  .row
    .col-md-6.col-md-offset-3
      %pre
        %code
          link_to('link name on page', 'link destiation', :class => 'class-name', :icon => 'clock-o', :icon_last => true)
