.container
#one-page
  .row.m-0
    %section.hero.mt-5
      .col-md-4.col-md-offset-4.pt-10
        This is a one page layout

  .row.m-0
    %section.second
      .col-md-4.col-md-offset-4.pt-10
        This is the second section of the one page layout

