.container
.layout-heading
  .container
    .row
      .col-lg-12
        %h1 Search

.container
  .row
    .col-sm-3.mb-3
      %h3.mt-0 Search
      %input
      =link_to('Search', '#', :class => 'btn btn-primary')
      %select
        %option Option 1
        %option Option 2
        %option Option 3
      %br
      %select
        %option Option 1
        %option Option 2
        %option Option 3
      %br
      %select
        %option Option 1
        %option Option 2
        %option Option 3
    .col-sm-9
      -8.times do
        .media
          %a.pull-left{href: "#"}
            =image_placeholder('64x#', :class => 'media-object img-responsive')
          .media-body
            %h4.media-heading Search result heading
            %p This is a search result description.