#no-dev.cs-section
	%h2.page-header if !dev.present?
	%ul
		%li What is Git?
		%li Terminal unix commands cd, ls etc
		%li Bundler
		%li rake db:migrate
		%li ym db:fetch
		%li compiling assets
		%li deploying
		%li Git branches
		%li Git conflicts
		%li How to clone a project
		%li how to edit gems
		%li rake ts:rebuild		





