#no-dev.cs-section
  %h2.page-header if !dev.present?
  %ul
    %li What is Git?
    %li Terminal unix commands cd, ls etc
    %li Bundler
    %li rake db:migrate
    %li ym db:fetch
    %li compiling assets
    %li deploying
    %li Git branches
    %li Git conflicts
    %li How to clone a project
    %li how to edit gems
    %li rake ts:rebuild
    %li Git commits (present tense) | how often to push

%h3 How to clone a project
%p To clone a project, cd into your 'rails' folder and run:
=code 'bash' do
  :plain
    ## Replace the correct link from gitlab
    git clone git@gitlab.yoomee.com:yoomee/code-standards.git

%h3 How to edit gems
%p To override anything within a gem:
=code 'bash' do
  :plain
    ## Replace the correct link from gitlab
    bundle open *gem_name*

%ul
  %li Find the file you wish to edit, and re-create this file in your local app/views (in the  same folder it is located in in the gem)
  %li Copy the code from the file in the gem, into the file you have just created. You can close the gem files now.
  %li You can edit and save changes in the file you just created. Your app will use this file rather than the file from the gem.