!!!5
%html
  %head
    %title Yoomee Code Standards
    =stylesheet_link_tag("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
    =stylesheet_link_tag("application")
    =javascript_include_tag("application")
    =favicon_link_tag("favicon.ico")
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    =csrf_meta_tags
    =yield :head
  -body_tag :"data-spy" => "scroll", :"data-target" => ".nav-main" do
    =render('layouts/header')
    =yield_with_bootstrap(yield)
